@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  background-color: #F2F5F9;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.header-links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.header-links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50px;
}

.header-list li:first-child {
  margin-right: 10px;
}

.header-list__item {
  cursor: pointer;
  color: #6B7481;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-list__item:hover {
  color: #13599F;
}

.header-society__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
}

.header-society__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
}

.header-society__item a {
  border-radius: 100%;
  background-color: #fff;
}

.header-society__item:nth-child(1) a {
  padding: 4px 8px;
}

.header-society__item:nth-child(2) a {
  padding: 4px 4px;
}

.header-society__item:nth-child(2) {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

.header-search {
  background-color: #333840;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-210px);
      -ms-transform: translateX(-210px);
          transform: translateX(-210px);
  min-width: 70%;
  padding-left: 30px;
}

.header-search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search-form {
  background-color: #333840;
  color: #fff;
}

#search-form::-webkit-input-placeholder {
  color: #fff;
  font-size: 13px;
}

#search-form::-moz-placeholder {
  color: #fff;
  font-size: 13px;
}

#search-form:-ms-input-placeholder {
  color: #fff;
  font-size: 13px;
}

#search-form::-ms-input-placeholder {
  color: #fff;
  font-size: 13px;
}

#search-form::placeholder {
  color: #fff;
  font-size: 13px;
}

.header__button {
  background: none;
}

.menu {
  position: fixed;
  width: 100%;
  top: 40px;
  left: 0;
  z-index: 50;
}

.menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fff;
}

.menu__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  position: relative;
  z-index: 3;
}

.menu__logo img {
  max-width: 100%;
}

.menu__burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.menu__list li {
  margin-left: 20px;
  position: relative;
}

.menu__link.active {
  color: #13599F;
}

.menu__link {
  color: #333840;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 0;
  position: relative;
}

.menu__link_list {
  cursor: pointer;
}

.menu__link_list:after {
  content: "";
  display: block;
  width: 7px;
  height: 4px;
  position: absolute;
  right: -9px;
  top: 16px;
  background-image: url(../img/menu-arrowdown-dark.png);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__link_list:hover:after {
  background-image: url(../img/menu-arrowdown-blue.png);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__link:hover {
  color: #13599F;
}

.menu__link._active {
  color: #13599F;
}

.menu__burger_string {
  color: #333840;
  font-weight: 500;
  display: none;
  text-transform: uppercase;
}

.menu__list > li:hover .menu-sublist {
  opacity: 1;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.menu-sublist {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 5;
  opacity: 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  padding-right: 10px;
}

.menu-sublist li {
  margin-bottom: 12px;
}

.menu-sublist li:hover {
  border-bottom: 1px solid #000;
}

.menu-sublist a {
  padding: 4px 0;
  color: #333840;
  font-weight: 500;
}

.banner {
  padding-top: 160px;
}

.banner-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-row__main {
  max-width: 520px;
}

.about-row__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Основные стили */

.main-slider1 {
  position: relative;
}

.main-slider1__block {
  display: block;
  width: calc(230px + 560 * (100vw - 320px) / 1600);
  height: 50px;
  background-color: #333840;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
      -ms-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}

/* Слайдер */

.slick-slider {
  min-width: 0;
  position: relative;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider.slick-arrow.slick-prev {
  cursor: pointer;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  cursor: pointer;
}

/* Конкретный слайдер */

.slider {
  position: relative;
  padding: 30px 15px;
  background-color: #F2F5F9;
  text-align: center;
}

.slider .slick-arrow {
  position: absolute;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  right: 20px;
  background: url("../img/arrowleft.svg") 0 0/100% no-repeat;
  bottom: -100px;
}

.slider .slick-arrow.slick-next {
  right: -20px;
  background: url("../img/arrowright.svg") 0 0/100% no-repeat;
  bottom: -100px;
}

.slider__item p {
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}

.slider-wrapper {
  padding: 25px;
  border: 1px solid #000;
}

.slider__item {
  padding: 0px 15px;
}

.directions {
  margin-top: 125px;
  margin-bottom: 100px;
}

.directions-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.directions-row__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.directions-row__main {
  max-width: 520px;
}

/* Основные стили */

.main-slider2 {
  position: relative;
}

.main-slider2__title {
  color: #333840;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.slider-item {
  background-color: #F2F5F9;
  margin-right: 50px;
  margin-bottom: 30px;
  padding: 20px;
}

.slider-item__main {
  border: 1px solid #333840;
  padding: 52px 37px;
}

.slider-main__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.slider-main__text {
  color: #6B7481;
  line-height: 17px;
}

/* Слайдер */

.slick-slider2 {
  min-width: 0;
  position: relative;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider2.slick-arrow.slick-prev {
  cursor: pointer;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  cursor: pointer;
}

/* Конкретный слайдер */

.slider2 {
  position: relative;
  padding: 0px 60px;
}

.slider2 .slick-arrow {
  position: absolute;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  top: -95px;
}

.slider2 .slick-arrow.slick-prev {
  right: 120px;
  background: url("../img/arrowleft.svg") 0 0/100% no-repeat;
}

.slider2 .slick-arrow.slick-next {
  right: 50px;
  background: url("../img/arrowright.svg") 0 0/100% no-repeat;
}

.slider2 .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider2 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider2 .slick-dots li {
  list-style: none;
  margin: 0px 10px;
  font-size: 0;
}

.slider2 .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #333840;
  border-radius: 50%;
}

.slider2 .slick-dots li.slick-active button {
  background-color: #5BABDE;
  padding: 3px;
  border: 2px solid #5BABDE;
}

.slider2__item {
  padding: 0px 15px;
}

.slider2__item img {
  max-width: 100%;
}

.main-slider2__image {
  position: absolute;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
  bottom: 0;
  width: 100%;
  height: 450px;
  background-image: url(../img/history-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.footer-row {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo {
  background-color: #333840;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-main {
  background-color: #F2F5F9;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: calc(20px + 80 * (100vw - 320px) / 1600);
}

.footer-main__upper {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.footer-main__lower {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upper-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper-footer__list_society {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper-footer__list_society li {
  margin-right: 25px;
}

.upper-footer__list_society a {
  border-radius: 50%;
  background-color: #605E5F;
  display: inline-block;
}

.upper-footer__list_society li:first-child a {
  padding: 4px 7.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}

.upper-footer__list_society li:last-child a {
  padding: 4.5px 3.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}

.upper-footer__list li {
  margin-right: 15px;
  cursor: pointer;
  color: #6b7481;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.upper-footer__list li:hover {
  color: #13599f;
}

.footer-search__item {
  background-color: #F2F5F9;
}

#footer__search-form {
  background-color: inherit;
  border-bottom: 2px solid #fff;
}

.lower-footer {
  color: #6B7481;
}

.lower-footer__copyright {
  margin-right: 25px;
}

.lower-footer__made a {
  color: #024081;
}

.main {
  padding-bottom: 250px;
}

.wrapper {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1156px;
  padding: 0 15px;
  margin: 0 auto;
}

.main__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__subtitle {
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.main__text {
  line-height: 17px;
  color: #6B7481;
}

@media (max-width: 1200px) {
  .slider .slick-arrow.slick-next,
  .slider .slick-arrow.slick-prev {
    bottom: -110px;
  }

  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .slider .slick-arrow.slick-next,
  .slider .slick-arrow.slick-prev {
    bottom: -120px;
  }

  .slider .slick-arrow.slick-next,
  .slider .slick-arrow.slick-prev {
    bottom: -120px;
  }

  .footer-search__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #footer__search-form {
    grid-column: span 2;
  }

  .footer-main__upper {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 300px));
    grid-row-gap: 35px;
  }

  .footer-main__lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-main .lower-footer__copyright {
    margin-bottom: 25px;
  }

  .container {
    max-width: 840px;
  }
}

@media (max-width: 830px) {
  .menu__list > li:hover .menu-sublist {
    position: relative;
    margin-bottom: 30px;
    top: 10px;
  }

  .menu.active:before {
    border-bottom: 2px solid #B5C3D1;
  }

  .menu__burger_string {
    display: block;
    position: absolute;
    right: 50px;
    z-index: 3;
  }

  .menu__body {
    height: 60px;
  }

  .menu__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 70px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    overflow: auto;
  }

  .menu__menu.active {
    top: 40px;
    right: 0;
  }

  .menu__burger {
    width: 30px;
    height: 20px;
    display: block;
    position: relative;
    z-index: 3;
  }

  .menu__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger span {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-color: #13599F;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .menu__burger:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #13599F;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .menu__burger:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #13599F;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .menu__list {
    display: block;
    padding-left: 30px;
  }

  .menu__list li {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .page {
    padding-top: 60px;
  }

  body.lock {
    overflow: hidden;
  }

  .about-main {
    margin-bottom: 40px;
  }

  .about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .directions-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .directions-main {
    margin-bottom: 40px;
  }

  .main-slider2__image {
    height: 500px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 660px) {
  .main-slider2__title {
    max-width: 200px;
  }
}

@media (max-width: 530px) {
  .slider .slick-arrow.slick-prev {
    bottom: -130px;
    right: 55%;
  }

  .slider .slick-arrow.slick-next {
    bottom: -130px;
    left: 55%;
  }
}

@media (max-width: 480px) {
  .header-links__container {
    max-width: 150px;
  }
}

@media (max-width: 400px) {
  .header-links__container {
    max-width: 140px;
  }

  #search-form {
    width: 140px;
  }

  .header-search {
    -webkit-transform: translateX(-185px);
        -ms-transform: translateX(-185px);
            transform: translateX(-185px);
  }
}

@media (max-width: 380px) {
  .slider2 .slick-arrow.slick-prev {
    right: 80px;
  }

  .slider2 .slick-arrow.slick-next {
    right: 20px;
  }

  .slider2 .slick-arrow {
    top: -115px;
  }
}

@media (max-width: 360px) {
  .header-search {
    -webkit-transform: translateX(-160px);
        -ms-transform: translateX(-160px);
            transform: translateX(-160px);
  }

  .header-links__container {
    max-width: 125px;
  }

  #search-form {
    width: 110px;
  }
}

@media (max-width: 330px) {
  .slider2 .slick-arrow.slick-prev {
    right: 65px;
  }

  .slider2 .slick-arrow.slick-next {
    right: 20px;
  }

  .slider-item__main {
    padding: 52px 5px;
  }
}

.webp .menu__link_list:after{ background-image: url(../img/menu-arrowdown-dark.webp); }

.webp .menu__link_list:hover:after{ background-image: url(../img/menu-arrowdown-blue.webp); }

.webp .main-slider2__image{ background-image: url(../img/history-bg.webp); }